@{
    ViewData["Title"] = "OzelDikim";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sipariş ve Teslimat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .main-title {
            text-align: center;
            color: grey;
        }

        h1, h2 {
            color: grey;
        }

        p, li, a {
            color: #9e8155; /* Pudra pembe rengi */
        }

            a:hover {
                color: grey; /* Linkin üzerine gelindiğinde gri renge dönüşür */
            }
    </style>
</head>
<body>
    <h2 class="main-title">ONLINE UZAKTAN GELİNLİK DİKİMİ İÇİN NASIL DOĞRU ÖLÇÜ ALIRIM?</h2>
    <div class="PageContent Rte">
        <div>
            <img style="display: block; margin: 0 auto;" src="~/images/dikis.webp" alt="Dikiş">
        </div>

        <h2 style="text-align: left;">Ölçü almadan önce dikkat etmeniz gerekenler;</h2>
        <ul style="text-align: left;">
            <li>Tüm ölçülerde ölçü birimi belirtiniz (ör. cm, inç)</li>
            <li>Tüm ölçüleri dikiş payı olmadan ve çok sıkı olmadan net şekilde alınız.</li>
            <li>Gelin ayakkabınızı veya tören günü kullanacağınız yükseklikte ayakkabı giyerek ölçümleri yapınız.</li>
            <li>Beden ölçüsünü alırken mezurayı bedeninizde çevreleyip her tarafının yere paralel bir şekilde durduğundan emin olunuz.</li>
            <li>Ölçülerinizi sütyenle ve bedeninizi saran bir giysiyle alınız.</li>
            <li>En iyi şekilde ölçü almak için bu videoyu takip ederek, ailenizden veya arkadaşınızdan yardım alabilirsiniz.</li>
        </ul>

        <h2 style="text-align: left;">Ölçüm esnasında gerekli olacak malzemeler;</h2>
        <p>
            Mezura, belinize bağlayabileceğiniz uzunlukta ip, gelin ayakkabısı veya tören günü kullanacağınız yükseklikte ayakkabı, not alabileceğiniz kağıt ve kalem.
            <br><br><strong>1. Göğüs</strong>
            <br>Göğsünüzün en geniş yerinden mezura yere paralel olacak şekilde ve göğsünüzü sıkıştırmadan ölçünüz.
        </p>
        <p style="text-align: left;">
            <br><strong>2. Göğüs Altı</strong>
            <br>Göğsünüzün tam altından mezura yere paralel olacak şekilde çevreleyiniz ve kollarınız aşağıda sabitken ölçünüzü yazınız.
            <br><br><strong>3. Göğüs Üstünden Göğüs Altına (Cup ölçüsü)</strong>
        </p>
        <ul style="text-align: left;">
            <li>Ölçülerinizi sütyenle alınız.</li>
            <li>Mediha Cambaz Bridal ürünleri sütyensiz giyilir. Tüm üst beden bustiyerleri şıklığınız ve rahatlığınız önemsenerek sütyensiz giyilecek şekilde tasarlandı.</li>
            <li>Göğüs üstünden göğüs altına göğüsü ortalayacak şekilde ölçünüz.</li>
        </ul>
        <p style="text-align: left;">
            <strong>3a.</strong> Sütyen bedeninizi belirtiniz.
        </p>
        <p style="text-align: left;">
            <strong>3b.</strong> dolgulu ya da dolgusuz kullandığınızı belirtiniz.
        </p>
        <p style="text-align: left;">
            <strong>4. Bel</strong>
            <br>Bel bölgesi ölçülerini alırken referans noktası olması için, bel bölgesinin en ince yerinden ölçüm sonuna kadar kalacak şekilde ince bir ip bağlayınız ve ipi ölçüm sonuna kadar çözmeyiniz. Karnınızı içeri çekmeden veya şişirmeden ölçünüzü alınız.
        </p>
        <p style="text-align: left;">
            <strong>5. Basen</strong>
            <br>Basen bölgenizi en geniş yerinden ölçünüz.
            <br><br><strong>6. Belden Yere</strong>
            <br>Dik durunuz ve beldeki referans noktasından yere olan uzunluğu ölçünüz.
            <br><br><strong>7. Omuzdan Yere</strong>
            <br>Dik durunuz ve omuz başından yere olan uzunluğu ölçünüz.
            <br><br><strong>8. Omuzdan Göğüs Noktasına</strong>
            <br>Omuzun orta noktasından, göğüs ucuna olan mesafeyi ölçünüz.
            <br><br><strong>9. Omuzdan Bel Noktasına</strong>
            <br>Omuz ortasından başlayıp göğüs ucundan geçecek şekilde beldeki referans ipine kadar ölçünüz.
            <br><br><strong>10. Omuzdan Omuza Arka</strong>
            <br>Dik durunuz ve omuzun üst sivri noktasıyla kol başlangıç yeri arasında kalan orta noktaları arkadan ölçünüz.
            <br><br><strong>11. Omuzdan Omuza Ön</strong>
            <br>Dik durunuz ve omuzun üst sivri noktasıyla kol başlangıç yeri arasında kalan orta noktaları önden ölçünüz.
        </p>
        <p style="text-align: left;">
            <strong>12. Boyundan Omuza</strong>
            <br>Boyundan omuz başına kadar ölçünüz.
            <br><br><em>13 numara ile 16 numara arası sadece kollu ürünler için gereklidir. Ürününüz kollu değilse ölçüleri belirtmenize gerek yoktur.</em>
            <br><br><strong>13. Kol uzunluğu</strong>
            <br>Uzun kol için, kolunuz serbest durumdayken omuz başından el bileğine kadar ölçün.
            <br><br><strong>14. Pazı</strong>
            <br>Kolunuz serbest durumdayken, omuz başı ve dirsek arası en geniş noktadan ölçü alınız.
            <br><br><strong>15. Dirsek genişliği</strong>
            <br>Dirseğiniz yarım kapalı durumdayken ölçünüz.
            <br><br><strong>16. Bilek genişliği</strong>
            <br>Bileğiniz düz ve serbestken ölçünüz.
            <br><br><strong>Lütfen ölçülerinizi 2 defa kontrol ederek gönderiniz.</strong>
            <br><br>Tasarım sürecimiz boyunca her tasarıma büyük bir düşünce ekliyor ve her tasarım için en iyi sonuç veren işleme karar veriyoruz. Bu nedenle tasarımlarda ölçü ve yaka açıklığı dışında özelleştirme maalesef yapamıyoruz.
        </p>
        <p style="text-align: left;">
            Tüm Sorularınız veya Özel tasarım hizmeti almak için lütfen <a href="/Home/Contact" style="color: black;">bizimle iletişime geçiniz.</a>
        </p>
    </div>
</body>
</html>
