@model IEnumerable<BelleMariee.App.Entity.ViewModels.CustomerViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<h2>Müşteriler</h2>

<table class="table">
    <thead>
        <tr>
            <th>İsim</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Adres</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>@customer.Phone</td>
                <td>@customer.Address</td>
            </tr>
        }
    </tbody>
</table>
