@{
    ViewData["Title"] = "Gizlilik";
    Layout = "~/Views/Shared/_Layout-Home.cshtml";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gizlilik </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .main-title {
            text-align: center;
            color: grey;
        }

        h3, h4 {
            color: grey;
        }

        p {
            color: #9e8155; /* Pudra pembe rengi */
        }

        a {
            color: #9e8155; /* Pudra pembe rengi */
        }

            a:hover {
                color: grey; /* Linkin üzerine gelindiğinde gri renge dönüşür */
            }

        li {
            color: #9e8155; /* Pembe renk */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="main-title">Gizlilik Politikası ve Kişisel Veriler</h3>
                <p>
                    Bu Gizlilik Politikasında, Special Occassion Konfeksiyon Sanayi ve Ticaret Anonim Şirketi’nin ("Belle Marieei/Hizmet Sağlayıcı") 6698 Sayılı Kişisel Verilerin Korunması Kanunu gereğince aydınlatma yükümlülüğünün yerine getirebilmesi adına, Hizmet Sağlayıcı tarafından yönetilmekte ve işletilmekte olan; abiye, gelinlik, aksesuar, ayakkabı başta olmak üzere evlilik süreci içerisinde müşterilerinin ihtiyaçlarını karşılamak adına kurulmuş olan www.bellemariee.com.tr ("Site") adlı Sitenin ziyareti ve hizmet alım süreci boyunca geçirdiğiniz süreyi en güvenli ve rahat şekilde tamamlamanız amacıyla, kişisel bilgilerinizi toplarken ve kullanırken Belle Mariee tarafından izlenilen prensipler açıklanmaktadır. Belle Mariee, Site üzerinden üyelerin paylaştığı bilgilerin gizliliği, kullanılması ve ilgili diğer hususlarda bu Gizlilik Politikası’nı benimser.
                </p>

                <h3>HANGİ KİŞİSEL VERİLERİNİZİ İŞLİYORUZ?</h3>
                <p>
                    Belle Mariee kullandığınızda, sizinle ve çeşitli kaynaklardan hizmetlerimizi kullanmanızla ilgili aşağıda belirtilmiş olan bilgileri toplarız. Önemle belirtmek isteriz ki, aşağıda yer alan ve işbu web sitesini ziyaretiniz kapsamı dışında mevcut her bir kişisel veri işleme süreci ile ilgili olarak aydınlatma yükümlülüğü ve gerekmesi halinde açık rızaya ilişkin yükümlülük Belle Mariee tarafından Kanuna uygun şekilde ayrıca yerine getirilecektir.
                </p>
                <ul>
                    <li><strong>Kayıt Bilgileri:</strong> Belle Mariee hizmetlerinden yararlanabilmek için, Belle Mariee’ye üye olmanız gerekir. Kayıt olmak için kullanıcı adınızı, soyadınızı, uyruğunuzu, parolanızı, e-posta adresinizi, cinsiyetinizi, ikamet adresinizi girmelisiniz. Üçüncü şahıs hesaplarıyla (Google ya da Facebook hesabınız gibi) kayıt olmak istiyorsanız, bu kayıt esnasında ilgili üçüncü şahıs hesabının size ait olduğu bilgisini kaydederiz.</li>
                    <li><strong>Randevu Bilgileri:</strong> Belle Mariee’nin özel olarak sunduğu kişiye özel randevu hizmetinden faydalanabilmeniz için https://randevu.bellemariee.com.tr/ adresinde yer alan "Randevu Formunu" doldurmanız gerekmektedir. Bunun için; isim, soy isim, e-posta adresi, telefon, şehir, randevu tarihi, düğün tarihi ve randevu saatine ilişkin verilerinizi girmeniz gerekmektedir.</li>
                    <li><strong>Fatura Bilgileri:</strong> Belle Mariee’e ödeme yaparken isim, adres, telefon, e-posta adresi, ticaret unvanı, vergi dairesi ile vergi numarası bilgiler ve seçtiğiniz ödeme türüne ait finansal bilgiler (kredi kartı numarası, son kullanım tarihi, banka hesap numarası gibi) gibi fatura ayrıntılarını sağlamanız gerekmektedir. Sitemizde bir satın alma yaptığınızda size ait mali bilgilerin, işleminizi gerçekleştirmek için gerekli 3. şahıslara (bankalar, kredi kartı şirketleri vb.) verilmesini kabul etmektesiniz.</li>
                    <li><strong>Değerlenmesini veya incelenmesini istediğiniz hizmet verileri:</strong> Belle Mariee üzerinden tedarik etmek veya almak istediğiniz hizmete ilişkin girmiş olduğunuz bilgiler, değerlendirilmek üzere Belle Mariee altyapısına kaydedilir ve daha sonraki aşamalarda sizlere daha iyi hizmet sunmak üzere kullanılır.</li>
                    <li><strong>İsteyerek paylaştığınız diğer veriler:</strong> Başka bağlamlarda gönderdiğiniz kişisel bilgi ya da verileri saklayabiliriz.</li>
                    <li><strong>Kullanım verileri:</strong> Hizmetlerimize her başvurduğunuzda, hakkınızda kullanım verileri toplanır. Belle Mariee’ye ait hangi web sayfalarını ziyaret ettiğiniz, neleri tıkladığınız, bu eylemleri ne zaman gerçekleştirdiğiniz, vb. veriler buna dâhil olabilir. Ayrıca, günümüzdeki birçok web sitesi gibi ağ sunucularımız da günlük dosyaları tutar; bu dosyalar bir aygıtın onlara her erişiminde veri kaydeder. Günlük dosyaları; kaynak IP adresleri, internet hizmeti sağlayıcıları, sitenizde görüntülenen dosyalar (örn. HTML sayfalar, grafikler, vb.), işletim sistemi sürümleri ve zaman damgaları gibi her bir erişimin mahiyetine ilişkin verileri içerir.</li>
                    <li><strong>Aygıt verileri:</strong> Hizmetlerimize erişmek için kullandığınız aygıt ve uygulamalardan, IP adresiniz, işletim sistemi sürümünüz, cihaz türünüz, sistem ve performans bilgileriniz ve tarayıcı türünüz gibi veriler toplanır.</li>
                    <li><strong>Üçüncü şahıslardan bilgi:</strong> Üçüncü şahısların bilgilerinizi bizimle paylaşmasına izin verirseniz, o üçüncü şahıslardan sizinle ilgili kişisel bilgileri ya da verileri toplayabiliriz.</li>
                    <li><strong>Site İletişim Aracı verileri:</strong> Site İletişim Aracı üzerinden gerçekleşen Müşteri Hizmetleri ile Müşteriler arasındaki iletişim geçmişi ve içeriklerine ilişkin verileri sistemimiz otomatik olarak kaydeder. Herhangi bir uyuşmazlık durumunda ve/veya uyuşmazlığa konu olabilecek durumlarda bu içerikleri ve iletişim kayıtlarını inceleyebilir ve denetleyebiliriz.</li>
                </ul>

                <h3>ÇEREZLER</h3>
                <p>
                    Çerezler, sürekli kullanıcıları tanımamız için hizmetlerimize erişirken kullandığınız cihazda sakladığımız küçük veri dosyalarıdır. Kullanma nedenimize bağlı olarak tüm çerezlerin süresi belirli bir zaman sonra sona erer. Detaylı bilgi için sitemizde bulunan “Çerez Ayarları” menüsünü inceleyebilirsiniz.
                </p>

                <h3>VERİ GÜVENLİĞİ</h3>
                <p>
                    Belle Mariee, kişisel bilgilerinizi korumak için uygun teknik ve organizasyonel güvenlik önlemlerini alır. Ancak, internet üzerinden yapılan iletişimlerin veya veri depolama işlemlerinin herhangi birinin tam güvenliği garanti edilemez. Bu nedenle, kişisel bilgilerinizi Belle Mariee’ye sağladığınızda bu riski kabul ettiğiniz kabul edilir.
                </p>

                <h3>KİŞİSEL VERİLERİN KORUNMASI</h3>
                <p>
                    Belle Mariee, 6698 Sayılı Kişisel Verilerin Korunması Kanunu kapsamında alınacak önlemler ile kişisel verilerinizin güvenliğini sağlamayı taahhüt eder ve bu bağlamda, sizin kişisel verilerinize herhangi bir zamanda erişme, düzeltme, güncelleme, anında bilgi alma, veri silme ve imha etme gibi haklarınızı kullanabilme imkanınızı sağlar. Bu konuda her türlü talebiniz için yukarıda belirtilen iletişim bilgilerinden Belle Mariee’ye başvurabilirsiniz.
                </p>

                <h3>GİZLİLİK POLİTİKASININ DEĞİŞTİRİLMESİ</h3>
                <p>
                    Belle Mariee, bu Gizlilik Politikasını dilediği zaman değiştirme hakkını saklı tutar. Gizlilik Politikasında önemli değişiklikler yapılırsa, bu değişiklikler web sitesinde yayınlanacak ve kullanıcılar tarafından okunabilecek şekilde yapılan değişiklikler anlamına gelecektir. Kullanıcılar, bu değişikliklerin yürürlüğe girmesiyle birlikte Gizlilik Politikasını kabul etmiş sayılırlar.
                </p>

                <h3>İLETİŞİM</h3>
                <p>
                    Gizlilik politikamız hakkında sorularınız varsa, lütfen bize iletisim@bellemariee.com.tr adresinden veya Belle Mariee Müşteri Hizmetleri'ni arayarak bizimle iletişime geçiniz.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
