@{
    ViewData["Title"] = "İade ve Değişim";
    Layout = "~/Views/Shared/_Layout-Home.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İade ve Değişim </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            color: #9e8155; /* Pudra pembe rengi */
        }

        h1 {
            color: grey;
        }

        h2 {
            color: grey;
        }

        p {
            margin-bottom: 1rem;
        }

        a {
            color: #9e8155; /* Pudra pembe rengi */
        }

            a:hover {
                color: grey; /* Linkin üzerine gelindiğinde gri renge dönüşür */
            }

    </style>
</head>


<div class="content">
    <div class="text-center">
        <h1 class="mb-4">İade ve Değişim</h1>
    </div>

    <h2 class="mb-3">Siparişimi iptal edebilir miyim?</h2>
    <p>
        Siparişiniz kargoya teslim edilmemişse, sipariş iptali veya ürün değişimi için <a href="mailto:help@bellemariee.com.tr">help@bellemariee.com.tr</a> e-posta hesabımıza talebinizi iletebilirsiniz.
    </p>
    <p>
        Sipariş iptal talebiniz onaylandıktan sonra, siparişinizin ödemesi kredi kartınızdan alındı ise yine aynı kredi kartınıza iade edilecektir. Geri ödemeler banka iç süreçlerine bağlı olarak farklılık göstermekte ve gecikmeler yaşanabilmektedir.
    </p>

    <h2 class="mb-3">Ürünümü iade etmek/değiştirmek istiyorum, iade/değişim şartları nedir?</h2>
    <p>
        Satın aldığınız ürünü iade/değişim talebinizi, kargodan teslim aldığınız günden itibaren 30 gün içinde <a href="mailto:help@bellemariee.com.tr">help@bellemariee.com.tr</a> e-posta hesabımıza e-posta göndererek iletebilirsiniz. <br>
        Ürün iadelerinizi Aras Kargo ile aşağıdaki iade adresine herhangi bir "kargo bedeli" ödemeden yapabilirsiniz.
    </p>
    <p>
        İade edeceğiniz ürüne ait, hediye olarak verilen promosyon, kampanyalı ürünlerin de aynı anda iade edilmesi gerekmektedir.
    </p>

    <h3 class="mb-3">İade Adresi:</h3>
    <p>
        ALICI: BELLE MARİEE KONF. SAN. VE TİC. A.Ş. - MERKEZ DEPO<br>
        ADRES: Örnek Mah. No: 1,BEŞİKTAŞ/ İSTANBUL (Aras Kargo Haznedar Şubesi)
    </p>

    <h3 class="mb-3">İade/Değişim Koşulları:</h3>
    <ul>
        <li>İadeler mutlak surette orijinal kutu/ambalajı ve faturası ile birlikte yapılmalıdır.</li>
        <li>Gelinlik ve abiye elbiselere takılmış olan ürün koruma bandının sökülmesi, hasar görmesi durumunda iadeniz kabul edilmeyecektir.</li>
        <li>Bütün standart aksesuarları hasarsız ve tam olarak orijinal paketleri ile birlikte gönderilmelidir.</li>
        <li>İç çamaşırı, korse, yüz maskesi gibi ürünlerde hijyen koşulları gereği iade kabul edilmemektedir.</li>
        <li>Yukarıda belirtilen iade şartlarına dikkat ederek Aras Kargo ile yukarıda belirtilen iade adresimize ürününüzü iade/değişim için ücretsiz geri gönderebilirsiniz.</li>
    </ul>

    <h2 class="mb-3">Tedarikçi firmadan teslim edilen ürünümü iade etmek istiyorum, ne yapmalıyım?</h2>
    <p>
        Sitemizden satışı yapılan tedarikçi firma ürünlerinde iade ve değişim yapılmamaktadır. Ancak ürün kusurlu ya da eksik gönderildiyse <a href="mailto:help@bellemariee.com.tr">help@bellemariee.com.tr</a> adresine konuyla ilgili, ürün görsellerini de eklediğiniz bir mail göndererek iade ya da değişim talep edebilirsiniz.
    </p>

    <h2 class="mb-3">Ürünü gönderdikten sonra süreci nasıl takip edeceğim?</h2>
    <p>
        Ürününüz Olegcassini.com.tr tarafından teslim alındıktan sonra ambalajı, aksesuarları, faturası kontrol edilecektir. İade işleminin onaylanması durumunda iade başvurusundaki tercihiniz doğrultusunda "ürün bedeli" 10 iş günü içinde tarafınıza geri ödenecektir.
    </p>
    <p>
        İadenizin iade koşullarına uygun olmaması durumunda ise ilgili ürün adresinize ücretsiz kargo ile gönderilecektir.
    </p>
    <p>
        Ürününüzün durumunu, "Hesabım"ın altındaki "Siparişlerim" sayfasından takip edebilirsiniz.
    </p>
</div>
