@{
    ViewData["Title"] = "KVKK";
    Layout = "~/Views/Shared/_Layout-Home.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kişisel Verilerin Korunması ve İşlenmesi Hakkında Aydınlatma Metni</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #9e8155; /* Pudra pembe rengi */
        }

        h1 {
            text-align: center;
            color: grey;
        }

        p {
            margin-bottom: 1rem;
        }

        a {
            color: #9e8155; /* Pudra pembe rengi */
        }

            a:hover {
                color: grey; /* Linkin üzerine gelindiğinde gri renge dönüşür */
            }

        .footer {
            margin-top: 3rem;
            text-align: center;
            color: grey;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Kişisel Verilerin Korunması ve İşlenmesi Hakkında Aydınlatma Metni</h1>
        </div>

        <div class="content">
            <p>Değerli Kullanıcımız,</p>
            <p>Belle Mariee TEKSTİL SAN. ve TİC. A.Ş.i (“Belle Mariee”) olarak 6698 Sayılı Kişisel Verilerin Korunması Kanunu’na (“Kanun”) uyumluluk hususuna gerekli özeni ve önemi vermekte olup bu takdirde azami bütün önlemleri almaktayız. Bu kapsamda, Belle Mariee’ye ait olan bellemariee.com.tr internet sitesi (“İnternet Sitesi”) aracılığı ile tarafınıza sunmuş olduğumuz ürünlere ilişkin olarak tarafınız ile satış sözleşmesinin ifa edilebilmesi amacıyla hem üyelik kaydı oluşturulması hem de üyelik kaydı oluşturmadan satış yoluyla kişisel verilerinizi kanuna uygun olarak veri sorumlusu sıfatıyla işletmekteyiz.</p>

            <p>İşbu Kişisel Verilerin Korunması ve İşlenmesi Hakkında Aydınlatma Metni (“Aydınlatma Metni”); veri işleme amacı, veri kategorileri, verilerin toplanma yöntemi ve hukuki sebebi, kimlere ve hangi amaçlarla aktarılabileceği, verileriniz ile ilgili haklarınızın neler olduğuna dair açıklamalarımızı içermektedir.</p>

            <p>Belle Mariee, veri sahibinin açık rızasıyla veya Kanun’un 5. ve 6. maddelerinde öngörülen durumlarda veri sahibinin açık rızası olmaksızın genel ve özel nitelikli verileri işleyebilme hakkına sahip bulunmaktadır. Kanun’un 5. Maddesinin 2. Fıkrasının c bendi, “bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması halinde ilgili kişinin açık rızası aranmaksızın kişisel verilerin işlenebilmesi mümkündür.” hükmünü içermektedir. Bu kapsamda Aydınlatma Metni’nin içeriğinde arz edilen hüküm ve koşullara uygun olarak işbu tarafınız ile akdedilmiş olan satış sözleşmesinin Belle Mariee tarafından ifa edilebilmesi için; adınız, soyadınız gibi kimlik verileriniz, adres bilgileriniz, e-posta adresiniz, telefon numarası gibi iletişim verileriniz işlenmektedir. Ek olarak ise yalnızca vermiş olduğunuz açık rızaya istinaden; adınız, soyadınız gibi kimlik verileriniz, adres bilgileriniz, e-posta adresiniz, telefon numarası gibi iletişim verileriniz müşteri memnuniyeti süreçlerinin yürütülmesi, müşteri davranışlarının analizi amacıyla Belle Mariee tarafından işlenmektedir.</p>

            <p>Kişisel verileriniz; sözleşme süreçlerinin yürütülmesi, faaliyetlerin mevzuata uygun yürütülmesi, mal/hizmet satış süreçlerinin yürütülmesi, müşteri memnuniyeti süreçlerinin yürütülmesi, müşteri davranışlarının analizi amaçları için işlenmektedir. Ayrıca kişisel verileriniz Aydınlatma Metni’nde belirtilen amaçlar dışında kullanılmamakta olup tüm ilgili işlemler Belle Mariee tarafından Kanun’a uygun olarak yürütülmektedir.</p>

            <p>Kanun’un 8. maddesi, “kişisel veriler, ilgili kişinin açık rızası olmaksızın aktarılamaz.” hükmünü, 8. Maddenin 2. fıkrasının a bendi ise, “kişisel veriler, 5. Maddenin 2. fıkrasında belirtilen şartlardan birinin bulunması halinde, ilgili kişinin açık rızası aranmaksızın aktarılabilir.” hükmünü içermektedir. Kanun’da belirtildiği üzere kişisel verileriniz, Belle Mariee tarafından ancak 5. maddenin 2. fıkrasında yer alan hukuki sebeplere bağlı olarak yahut tarafınızca verilmiş olan açık rızaya istinaden; kişisel verileri talep etmeye yetkili kişi, kurum ve kuruluşlar ve Belle Mariee ile sözleşmesel ilişkisi bulunan gerçek ve tüzel kişiler ile paylaşılabilmektedir.</p>

            <p>Kanun’un 9. Maddesi ise, “kişisel veriler, ilgili kişinin açık rızası olmaksızın yurt dışına aktarılamaz.” hükmünü içermektedir. Vermiş olduğunuz açık rızaya istinaden yukarıda bahsi geçen; adınız, soyadınız gibi kimlik verileriniz, adres bilgileriniz, e-posta adresiniz, telefon numarası gibi iletişim verileriniz yurt dışına aktarılmaktadır.</p>

            <p>Kanun kapsamında; kişisel verilerinizin işlenip işlenmediğini öğrenmek, işleme amacını ve amaca uygun olup olmadığını öğrenmek, kişisel verilerin aktarıldığı kişilerin kimler olduğunu bilmek, eksik veya yanlış işleme halinde düzeltme istemek ve şartları gerçekleşmişse kişisel verilerin silinmesini istemek ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini istemek, işlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etmek, kanuna aykırı işleme sebebiyle zarara uğraması halinde zararını talep etmek, kişisel verilerin kanuna uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması halinde kişisel verilerin silinmesini veya imha edilmesini istemek hususlarında bilgi almak için Belle Mariee ile her zaman iletişime geçebilirsiniz.</p>

            <p>Söz konusu haklarınıza yönelik başvurularınızı Veri Sahibi Başvuru Formu’nu, noter kanalıyla veya Kişisel Verilerin Korunması Kurulu tarafından belirlenen diğer yöntemler ile gönderebilir veya <a href="mailto:help@bellemariee.com.tr">help@bellemariee.com.tr</a> adresine güvenli elektronik imzalı olarak iletebilirsiniz. Talebinize en kısa sürede ve kanuna uygun olarak en geç otuz (30) gün içerisinde geri dönüş yapılacaktır. Ancak, işlemin ayrıca bir maliyeti gerektirmesi hâlinde, Belle Mariee’nin Kişisel Verileri Koruma Kurulunca belirlenen tarife üzerinden Kanun’a uygun olarak ücret talep etme hakkı saklıdır.</p>
        </div>

        <div class="footer">
            <p>© 2024 Belle Mariee TEKSTİL SAN. ve TİC. A.Ş.i  Tüm hakları saklıdır.</p>
        </div>
    </div>

</body>
</html>
