@{
    ViewData["Title"] = "Siparis";
    Layout = "~/Views/Shared/_Layout-Home.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sipariş ve Teslimat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .main-title {
            text-align: center;
            color: grey;
        }

        h3, h4 {
            color: grey;
        }

        p {
            color: #9e8155; /* Pudra pembe rengi */
        }

        a {
            color: #9e8155; /* Pudra pembe rengi */
        }

            a:hover {
                color: grey; /* Linkin üzerine gelindiğinde gri renge dönüşür */
            }
    </style>
</head>
<body>
    <div class="container-fluid mt-5">
        <h2 class="main-title">SİPARİŞ VE TESLİMAT</h2>

        <h3>Ödeme Seçenekleri</h3>
        <p>Siparişlerinizin ödemesini kredi kartı yoluyla yapabilirsiniz.</p>

        <h4>Kredi Kartı İşlemleri</h4>
        <p>Alış-verişlerinizi güvenle yapabilmeniz için kredi kartı bilgileriniz 128 bit SSL kullanılarak şifrelenmektedir. SSL bağlantısının aktif olduğunu, sipariş işlemleri sırasında kart bilgilerinizi girdiğiniz sayfamıza geçtiğinizde, tarayıcınızın adres çubuğunun hemen yanında görüntülenecek olan kilit simgesinden anlayabilirsiniz.</p>

        <h3>Teslimat Bilgileri</h3>
        <p>Kredi kartıyla yapılan ödemelerde, ilgili bankanın onayı ve güvenlik birimimizin kontrolünü takip eden 3 iş günü içerisinde, siparişiniz kargoya verilir. Adrese teslim kargo hizmeti, seçilmiş olan kargo firmasının ulaşım dahilinde olan bölgelere yapılır. Kargo firmasının adrese teslim bölgesinde yer almayan bölgelere telefon ihbarlı, kargo ofisinden teslimat gerçekleşir. Herhangi bir sorunuz ya da sorununuz olduğunda lütfen <a href="contact.html">iletişim adreslerimizden</a> irtibata geçiniz.</p>

        <p>Teslimat adresi bilgilerinizi güncellemek için <a href="update-address.html">tıklayın</a>.</p>

        <h3>Siparişimin Durumunu Nasıl Takip Edebilirim?</h3>
        <p>Mevcut siparişinizin hangi aşamada olduğunu "Siparişlerim" linkini tıklayarak izleyebilirsiniz.</p>
    </div>
</body>
</html>
